/* ======= Navbar start ======= */

.logo {
    width: 60px;
    height: 60px;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}

.navbar {
    /*border-bottom: 2px solid grey;
    border-top: 1px solid grey;
    background-color: #49b6ff;*/
    background-color: #00a1e4;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border-radius: 100px;
    width: 140px;
    height: 60px;
    border: 0;
    outline: 0;
    box-shadow: none;
    display: flex;
    padding-top: 15px;
}

.bars {
    padding-top: 7px;
    padding-left: 10px;
}

.menu-text {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: white;
    text-align: center;
    align-items: center;
}

.nav-link {
    font-size: 25px;
}

.active {
    font-weight: bold;
    text-decoration: overline;
}

.login-anchor {
    font-size: 20px;
}

.nav-item {
    padding: 8px;
    font-size: 20px;
}

.log {
    font-size: 18px;
    border: 2px solid;
    width: 100px;
    height: 50px;
    box-shadow: inset 0 0 0 0 #00a1e4;
    transition: ease-out 0.4s;
    border-radius: 12px;
}

.log:hover {
    color: white;
    box-shadow: inset 100px 0 0 0 #00a1e4;
}

@media (max-width: 768px) {
    .log {
        margin-top: 200px;
    }

    .toggler-icon {
        transition: all 0.6s ease-in-out;
    }
}

/* ======= Navbar end ======= */

/* buton navbar animatie inceput*/
.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    transition: all 0.4s ease-in-out;
    margin: auto;
}

.middle-bar {
    margin: 5px auto;
    width: 26px;
}

.navbar-toggler .top-bar {
    transform: translateY(8px) rotate(-45deg);

}

.navbar-toggler .middle-bar {
    transform: translateX(30px);
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {

    transform: translateY(-8px) rotate(45deg);
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    transform: translateX(0px);
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: white;
}

/* buton navbar animatie sfarsit*/

/* =====slider start===== */
.carousel-item {
    height: 92.5vh;
}

.section {
    position: absolute;
    width: 100%;
    height: 92.5vh;
    overflow: hidden;
}

.section h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 25vw;
    font-weight: 900;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    mix-blend-mode: multiply;
}

.s-2 h2 {
    font-size: 20vw;
}

.s-3 h2 {
    font-size: 15vw;
}

.s-4 h2 {
    font-size: 15vw;
}

.img1 {
    background-image: url('../img/Echipa1.jpg');
    background-size: cover;
}

.img2 {
    background-image: url('../img/Echipa2.jpg');
    background-size: cover;
}

.img3 {
    background-image: url('../img/Echipa3.jpg');
    background-size: cover;
}

.img4 {
    background-image: url('../img/Echipa4.jpg');
    background-size: cover;
}

/* =====slider end===== */

/* ======about start====== */

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: autod;
}

.about .about-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about .about-line {
    width: 1px;
    height: 300px;
    background-color: black;

}

.about .about-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 3px;
    margin-top: 150px;
    margin-right: 50px;
}

.about .reflection {
    margin-top: 50px;
    width: 600px;
    height: 350px;
    position: relative;
    background: url("../img/WikiEchipa.jpg");
    background-size: cover;
    background-position: bottom;
    box-shadow: 0px 50px 70px rgba(0, 0, 0, .3), 0px 10px 10px rgba(0, 0, 0, .1);
}

.about .reflection::before {
    content: "";
    width: inherit;
    height: 42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), white);
    z-index: 1;
}

.about .reflection::after {
    content: "";
    background-image: inherit;
    width: inherit;
    height: 40%;
    position: absolute;
    bottom: -41%;
    transform: scaleY(-1);
    background-position: bottom;
    background-size: cover;
    opacity: .5;
}

.about .about-content {
    width: 650px;
    height: 450px;
    padding-top: 50px;
    margin-left: 50px;
}

.about .about-content h1 {
    margin: 0;
}

.about .about-content .line {
    height: 1px;
    width: 650px;
    background-color: black;
}

.about .about-content p {
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 50px;
}

.about .about-content .view {
    font-size: 20px;
}

.about .about-content .about-btn {
    background-color: white;
    border: 2px solid;
    width: 150px;
    height: 50px;
    box-shadow: inset 0 0 0 0 #00a1e4;
    transition: ease-out 0.5s;
    border-radius: 12px;
}

.about .about-content .about-btn:hover {
    color: white;
    box-shadow: inset 150px 0 0 0 #00a1e4;
}

@media screen and (max-width: 1499px) {
    .about .about-content {
        width: 500px;
    }

    .about .about-content .line {
        width: 500px;
    }
}

@media screen and (max-width: 1349px) {
    .about .reflection {
        width: 450px;
    }

    .about .about-content {
        width: 450px;
    }

    .about .about-content .line {
        width: 450px;
    }
}

@media screen and (max-width: 1099px) {
    .about .about-all {
        flex-direction: column;
    }

    .about .about-content {
        margin-top: 150px;
        margin-left: 0;
    }

    .about {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 599px) {
    .about .reflection {
        width: 350px;
    }

    .about .about-content {
        width: 350px;
    }

    .about .about-content .line {
        width: 350px;
    }
}

@media screen and (max-width: 499px) {

    .about{
        margin-top: 100px;
    }
    
    .about .reflection {
        width: 250px;
        height: 222px;
    }

    .about .about-content {
        width: 250px;
        margin-top: 60px;
    }

    .about .about-content .line {
        width: 250px;
    }
}

/* ======about end====== */

/* ======== performante start ======== */

.performanta {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 1200px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    display: flex;
    background-image: url("../img/Unback.png");
    background-size: cover;
    margin-bottom: 200px;
    border-radius: 12px;
}

.img-v {
    width: calc(35% - 30px);
    height: 100%;
    background-color: white;
    border-radius: 12px 0 0 12px;
}

.rezultate {
    width: calc(65% + 30px);
    height: 100%;
    background-color: transparent;
    border-left: 100px solid white;
    border-bottom: 400px solid transparent;
    border-radius: 0 12px 12px 0;

}

.player {
    transform: translate(-15%, -25%);
    width: 620px;
    height: 691px;
}

.titlu img {
    width: 180px;
    height: 100px;
    padding-left: 15px;
    padding-top: 15px;
}

.titlu .linie {
    height: 1px;
    width: 600px;
    background-color: black;
    margin-left: 15px;
    margin-bottom: 10px;
}

.titlu p {
    margin-left: 15px;
    font-size: 20px;
}

.stats {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lost img {
    width: 120px;
    height: 120px;
}

.win img {
    width: 120px;
    height: 120px;
}

.draw img {
    width: 100px;
    height: 100px;
}

.lost {
    padding-top: 50px;
}

.draw {
    padding-top: 50px;
}

.stats .number {
    font-size: 35px;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
}

.lost .number {
    transform: translateY(-25px);
}

.win .number {
    transform: translateY(-10px);
}

.draw .number {
    transform: translateY(-10px);
}

@media screen and (max-width: 1249px) {
    .performanta {
        width: 1000px;
    }

    .titlu {
        width: 500px;
    }

    .titlu .linie {
        width: 500px;
    }

    .stats {
        width: 500px;
    }
}

@media screen and (max-width: 1099px) {

    .performanta {
        width: 800px;
        margin-top: 150px;
    }

    .titlu {
        width: 400px;
    }

    .titlu .linie {
        width: 400px;
    }

    .stats {
        width: 400px;
    }

    .player {
        transform: translate(-25%, -25%);
    }
}

@media screen and (max-width: 899px) {

    .performanta {
        width: 600px;
        height: 800px;
        flex-direction: column;
        border-radius: 15px 15px 12px 12px;
    }

    .img-v {
        width: 100%;
        height: calc(35% - 100px);
        background-color: white;
        border-radius: 12px 12px 0 0;
        
    }

    .rezultate {
        width: 100%;
        height: calc(65% + 100px);
        background-color: transparent;
        border: none;
        border-top: 100px solid white;
        border-right: 600px solid transparent;
        border-radius: 0 0 12px 12px;
        padding-top: 50px;
    }

    .rezultate .box{
        padding-left: 50px;
    }

    .player {
        transform: translate(25%, -35%);
        width: 420px;
        height: 491px;
    }

    .titlu {
        width: 500px;
    }

    .titlu .linie {
        width: 90%;
    }

    .stats {
        width: 500px;
    }
}

@media screen and (max-width: 649px) {

    .performanta {
        width: 450px;
        height: 800px;
        flex-direction: column;
        border-radius: 15px 15px 12px 12px;
    }

    .img-v {
        width: 100%;
        height: calc(30% - 50px);
        background-color: white;
        border-radius: 12px 12px 0 0;
        
    }

    .rezultate {
        width: 100%;
        height: calc(70% + 50px);
        background-color: transparent;
        border: none;
        border-top: 65px solid white;
        border-right: 450px solid transparent;
        border-radius: 0 0 12px 12px;
        padding-top: 50px;
    }

    .rezultate .box{
        padding-left: 25px;
    }

    .player {
        transform: translate(10%, -35%);
        width: 420px;
        height: 491px;
    }

    .titlu {
        width: 400px;
        padding-bottom: 50px;
    }

    .titlu .linie {
        width: 90%;
    }

    .stats {
        width: 400px;
    }

    .lost img {
        width: 80px;
        height: 80px;
    }

    .win img {
        width: 80px;
        height: 80px;
    }

    .draw img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 499px) {

    .performanta {
        width: 350px;
        height: 650px;
        flex-direction: column;
        border-radius: 15px 15px 12px 12px;
    }

    .img-v {
        width: 100%;
        height: calc(30% - 50px);
        background-color: white;
        border-radius: 12px 12px 0 0;
        
    }

    .rezultate {
        width: 100%;
        height: calc(70% + 50px);
        background-color: transparent;
        border: none;
        border-top: 65px solid white;
        border-right: 350px solid transparent;
        border-radius: 0 0 12px 12px;
        padding-top: 50px;
    }

    .rezultate .box{
        padding-left: 25px;
    }

    .player {
        transform: translate(7%, -35%);
        width: 320px;
        height: 391px;
    }

    .titlu {
        width: 300px;
        padding-bottom: 15px;
    }

    .titlu img{
        width: 150px;
        height: 80px;
    }

    .titlu .linie {
        width: 90%;
    }

    .stats {
        width: 300px;
    }

    .lost img {
        width: 70px;
        height: 70px;
    }

    .win img {
        width: 80px;
        height: 80px;
    }

    .draw img {
        width: 60px;
        height: 60px;
    }
}

/* ======== performante end ======== */
/* ======== next game start ========== */

.NextGame {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 1200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    display: flex;
    background-image: url("../img/Unback.png");
    background-size: cover;
    margin-bottom: 200px;
    border-radius: 12px;
}

.Game {
    width: calc(75% - 30px);
    height: 100%;
    background-color: transparent;
    border-right: 100px solid white;
    border-bottom: 400px solid transparent;
    border-radius: 12px 0 0 12px;
}

.Game h1{
    display: none;
}

.Game .line1{
    display: none;
}

.Game .line2{
    display: none;
}

.Title {
    width: calc(25% + 30px);
    height: 100%;
    background-color: white;
    border-radius: 0 12px 12px 0;
    padding-top: 80px;
}

.Title .RezGame1{
    display: none;
}

.echipa1 {
    width: 170px;
    height: 170px;
}

.echipa2 {
    width: 170px;
    height: 170px;
}

.between{
    padding-top: 130px;
}

.up{
    display: flex;
    flex-direction: row;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    color: white;
}

.up .versus{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 50px;
}

.down{
    text-align: center;
    padding-left: 10px;
}

.down p{
    margin: 0;
}

.date-time{
    display: flex;
    flex-direction: row;
}

.date-line{
    height: 25px;
    width: 1px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.down p{
    font-size: larger;
    color: white;
}

.RezGame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Title h1{
    font-size: 60px;
}

.line1{
    height: 2px;
    width: 270px;
    background-color: black;
    transform: translateX(-22%);
}

.line2{
    height: 2px;
    width: 260px;
    background-color: black;
    transform: translateX(27%);
}

.ultimul{
    padding-left: 10px;
}

.meci{
    padding-top: 40px;
    padding-left: 65px;
}

@media screen and (max-width: 1249px) {
    .NextGame{
        width: 1000px;
    }

    .Title .line2{
        transform: translateX(8%);
    }

    .meci{
        padding-left: 18px;
    }
}

@media screen and (max-width: 1099px) {
    .NextGame{
        width: 800px;
    }

    .Title .line1{
        width: 220px;
        transform: translateX(-27%);
    }

    .Title .line2{
        width: 170px;
        transform: translateX(35%);
    }

    .ultimul{
        padding-left: 0;
        transform: translateX(-15%);
    }

    .meci{
        padding-left: 55px;
    }

    .echipa1 {
        width: 130px;
        height: 130px;
    }
    
    .echipa2 {
        width: 130px;
        height: 130px;
    }

}

@media screen and (max-width: 899px) {
    .NextGame{
        width: 600px;
        height: 800px;
        flex-direction: column;
        border-radius: 15px 15px 12px 12px;
    }

    .Game{
        width: 100%;
        height: calc(20% + 100px);
        border: none;
        background-color: white;
        border-radius: 12px 12px 0 0;
        
    }

    .Game .RezGame{
        display: none;
    }

    .Game h1{
        display: block;
    }

    .Game .line1{
        display: block;
    }
    .Game .line2{
        display: block;
    }

    .Title{
        width: 100%;
        height: calc(80% - 100px);
        background-color: transparent;
        border: none;
        border-top: 100px solid white;
        border-right: 600px solid transparent;
        border-radius: 0 0 12px 12px;
        padding-top: 50px;
    }

    .Title h1{
        display: none;
    }

    .Title .line1{
        display: none;
    }

    .Title .line2{
        display: none;
    }

    .Title .RezGame1{
        display: flex;
        padding-top: 25px;
        padding-left: 39px;
    }

    .between{
        padding-top: 30px;
    }

    .echipa1 {
        width: 170px;
        height: 170px;
    }
    
    .echipa2 {
        width: 170px;
        height: 170px;
    }

    .Game{
        padding-top: 30px;
        padding-left: 100px;
    }

    .Game h1{
        font-size: 60px;
    }

    .line1{
        width: 300px;
        transform: translateX(-33.5%);
    }

    .meci{
        padding-left: 240px;
    }

    .line2{
        transform: translateX(92.5%);
    }
    
}

@media screen and (max-width: 649px) {
    .NextGame{
        width: 450px;
        height: 600px;
        flex-direction: column;
        border-radius: 15px 15px 12px 12px;
    }

    .Game{
        width: 100%;
        height: calc(20% + 100px);
        border: none;
        background-color: white;
        border-radius: 12px 12px 0 0;
        
    }

    .Game .RezGame{
        display: none;
    }

    .Game h1{
        display: block;
    }

    .Game .line1{
        display: block;
    }
    .Game .line2{
        display: block;
    }

    .Title{
        width: 100%;
        height: calc(80% - 100px);
        background-color: transparent;
        border: none;
        border-top: 60px solid white;
        border-right: 450px solid transparent;
        border-radius: 0 0 12px 12px;
        padding-top: 50px;
    }

    .Title h1{
        display: none;
    }

    .Title .line1{
        display: none;
    }

    .Title .line2{
        display: none;
    }

    .Title .RezGame1{
        display: flex;
        padding: 0;
        padding-left: 15px;

    }

    .between{
        padding-top: 10px;
    }

    .echipa1 {
        width: 130px;
        height: 130px;
    }
    
    .echipa2 {
        width: 130px;
        height: 130px;
    }

    .Game{
        padding-top: 15px;
    }

    .Game h1{
        font-size: 60px;
    }

    .line1{
        width: 300px;
        transform: translateX(-33.5%);
    }

    .meci{
        padding-top: 20px;
        padding-left: 90px;
    }

    .line2{
        transform: translateX(35%);
    }

    .up{
        font-size: 60px;
    }

    .down{
        padding-left: 2px;
        font-size: 13px;
    }
    
}

@media screen and (max-width: 499px) {

    .NextGame{
        width: 350px;
        height: 500px;
        flex-direction: column;
        border-radius: 15px 15px 12px 12px;
    }

    .Game{
        width: 100%;
        height: calc(20% + 100px);
        border: none;
        background-color: white;
        border-radius: 12px 12px 0 0;
        
    }

    .Game .RezGame{
        display: none;
    }

    .Game h1{
        display: block;
    }

    .Game .line1{
        display: block;
    }
    .Game .line2{
        display: block;
    }

    .Title{
        width: 100%;
        height: calc(80% - 100px);
        background-color: transparent;
        border: none;
        border-top: 50px solid white;
        border-right: 350px solid transparent;
        border-radius: 0 0 12px 12px;
        padding-top: 50px;
    }

    .Title h1{
        display: none;
    }

    .Title .line1{
        display: none;
    }

    .Title .line2{
        display: none;
    }

    .Title .RezGame1{
        display: flex;
        padding: 0;
    }

    .between{
        padding-top: 10px;
    }

    .echipa1 {
        width: 100px;
        height: 100px;
    }
    
    .echipa2 {
        width: 100px;
        height: 100px;
    }

    .Game{
        padding-top: 10px;
    }

    .Game h1{
        font-size: 45px;
    }

    .line1{
        width: 250px;
        transform: translateX(-40%);
    }

    .meci{
        padding-top: 30px;
        padding-left: 90px;
    }

    .line2{
        width: 160px;
        transform: translateX(56%);
    }

    .up{
        font-size: 50px;
    }

    .down{
        padding-left: 2px;
        font-size: 12px;
    }
    
}

/* ======== next game start ======== */