body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

/* ^ background ^ */

.content {
  background-color: white;
  border-radius: 12px;
  box-sizing: border-box;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0 0 35px black;
}

.carousel-item {
  width: 600px;
  height: 600px;
  background-color: grey;
  border-radius: 12px 0 0 12px;
}

.carousel-inner {
  width: 600px;
  height: 600px;
}

.overlay{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 67%);
  opacity: .4; 
  width: 100%;
  height: 100%;
  border-radius: 12px 0 0 12px;
}

.c1 {
  background-image: url("/img/1.jpg");
  background-size: cover;
}

.c2 {
  background-image: url("/img/2.jpg");
  background-size: cover;
}

.c3 {
  background-image: url("/img/3.jpg");
  background-size: cover;
}

.login {
  width: 400px;
  margin-left: 25px;
  padding-top: 5%;
}

.logo {
  width: 100px;
  height: 100px;
}

.login h1 {
  text-align: center;
}

.login form {
  padding: 20px 40px;
  box-sizing: border-box;
}

.user{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.pass{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

form .textf {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.textf input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
}

.textf label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 20px;
  pointer-events: none;
  transition: .4s;
}

.textf span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}


.textf input:focus~label,
.textf input:valid~label {
  top: -7px;
  color: #2691d9;
}

.textf input:focus~span::before,
.textf input:focus~span::before{
  width: 100%;
}

.remcheck{
  display: flex;
}

.remcheck .remember{
  margin-bottom: 2px;
  margin-left: 5px;
  transform: scale(1.5);
  
}
.remcheck .remlbl{
  font-size: 18px;
  margin-left: 10px;
}

.submit{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 12px;
  font-size: 25px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin-top: 45px;
}

.submit:hover{
  border-color: #2691d9;
  transition: .5s;
}

@media (max-width: 1199.98px) {
  .carousel-inner {
    width: 450px;
    height: 450px;
    border-radius: 12px 0 0 12px;
  }
  .login{
    padding: 0;
  }
  .submit{
    margin-top: 25px;
  }
  .login form{
    padding: 0 40px;
  }
}

@media (max-width: 991.98px) {
  .login {
    margin: 0;
  }
  .login{
    padding-top: 5%;
  }
  .submit{
    margin-top: 30px;
  }
  .login form{
    padding: 20px 40px;
  }
}

@media (max-width: 575.98px) {
  .content {
    width: 350px;
  }
}